

<h3> some generic text and company eamil here </h3>

<hr />

<div class="alert alert-danger">
    <h5>Path</h5>
    <hr />
    <p>@ViewBag.ExPath</p>
</div>

<div class="alert alert-danger">
    <h5>Message</h5>
    <hr />
    <p>@ViewBag.ExMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Stack Trace</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>